@font-face {
    font-family: Candyhome;
    src: url(/font/ZhiMangXing-Regular.ttf);
    font-display: swap;
    font-weight: lighter
}

@font-face {
    font-family: ZhuZiAYuanJWD;
    src: url(/font/YujiBoku-Regular.ttf);
    font-display: swap;
    font-weight: lighter
}

@font-face {
    font-family: ruizi;
    src: url(/font/ruizi.ttf);
    font-display: swap;
    font-weight: lighter
}

@font-face {
    font-family:shang;
    src: url(/font/ShangShouXuanSong.ttf);
    font-display: swap;
    font-weight: lighter
}




