@font-face {
    font-family: Candyhome;
    src: url(/font/ZhiMangXing-Regular.ttf);
    font-display: swap;
    font-weight: lighter
}

@font-face {
    font-family: ZhuZiAYuanJWD;
    src: url(/font/YujiBoku-Regular.ttf);
    font-display: swap;
    font-weight: lighter
}

h1#site-title {
    font-family: ZhuZiAYuanJWD;
    font-size: 2.2em !important
}

span#subtitle {
    font-family: Candyhome;
    font-size: 1.0em !important
}

/* a#site-name {
    font-family: Candyhome;
    font-size: 1.5em !important
} */
nav#nav.show {
    font-family: Candyhome;
    font-size: 1.5em !important
}